/* remove the default styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling the logo */
.logo {
    width: 80px;
    float: left;
    margin-top: 50px;
}

/* stye the nav */
.navbar {
    display: flex;
    flex-direction: row;
}

/* remove the underline in all the link */
a:link {
    text-decoration: none;
}
/* change the color of the link when on hover */
 .navbar a:hover {
    background-color: rgb(136, 119, 153);
 }
.para2 {
font-size:50px;
}
/* to make the <p> have same styling */
.para1 {
    margin-top:20px;
    padding-left: 50px; 
    padding-right: 50px;
    text-transform: lowercase;
    color: black;
}
/* to style the subtitle */
#hed1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
}
/* to make the div container to be flex  */
.div1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}
/* to add styling to the brain img */
.brain2 {
    display: flex;
    width:400px;
    height: 400px;
    margin-top: 30px;
}
/* styling for the nav ,by making use of flex*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: beige;
    position: fixed;
    width: 100%;
    text-transform:capitalize ;
}
/* styling for the nav link */
.menu a {
    display:flex;
    color: grey;
    padding: 20px 20px;

}
/* styling for the navlink at hover */
.menu a:hover {
    background-color: cadetblue;
    color: black;
}
/* styling for the figcaption */
.fig {
    text-align: center;
    text-transform: capitalize;
}
