/* remove the default styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 100px;
    float: left;
}

/* stye the nav */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* style the ul in the nav */
.navlink {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* remove the underline in all the link */
a:link {
    text-decoration: none;
}
/* the container <div>needed to position the dropdown-content 
.dropdown {
    position: relative;
    display: inline-block;
 */

/* style the dropdown button
.but {
    cursor: pointer;
    padding: 70px;
 } */

/* dropdown-content(hidden by default)
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    padding: 12px 16px;
    box-shadow: 200px;
    z-index: 1;
} */

/* show the dropdown menu on hover 
.dropdown:hover .dropdown-content {
    display: block;
    background-color: blanchedalmond;
} */

/* change the background-colorof the dropdown button when the dropdown content is show 
.dropdown:hover .but {
    background-color: black;
    color: aliceblue;
} */

/* change color of dropdown links on hover 
.dropdown-content a:hover {
    background-color: lightskyblue;
 } */

/* links inside the dropdown 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */
 .navbar a:hover {
    background-color: rgb(136, 119, 153);
 }
.para {
font-size:50px;
}
/* to make the word have same styling */
.para1 {
    margin-top:20px;
    padding-left: 50px; 
    padding-right: 50px;
    text-transform: lowercase;
    color: black;
}
/* to style the subtitle */
#hed1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
}
/* to make the div container to be flex  */
.div1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}
/* to add styling to the brain img */
.brain2 {
    display: flex;
    width:300px;
    margin-top: 30px;
}
